[Unit]
Description=Logs system statistics to the systemd journal
Wants=night_light.timer

[Service]
Type=oneshot
ExecStart=/bin/bash $HOME/.local/bin/night_light

[Install]
WantedBy=multi-user.target
