[Unit]
Description=Night Light
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
Environment="DISPLAY=:0"
ExecStart=screen -DmS night_light /bin/bash -c '/usr/local/bin/night_light -ar; exec bash'
Restart=on-failure

[Install]
WantedBy=default.target
